PORT=5000
MONGO_URI=mongodb+srv://user:pass@cluster.mongodb.net/dbname
GEMINI_API_KEY=your_gemini_key
JWT_ACCESS_SECRET=your_jwt_access_secret_here
JWT_REFRESH_SECRET=your_jwt_refresh_secret_here
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
CLIENT_URL=http://localhost:5173
